.create-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 2rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.create-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.create-container  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-container  label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 0.4rem;
}

.create-container  input,
.create-container  select,
.create-container  textarea {
    padding: 0.7rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 1rem;
}

.create-container  textarea {
    height: 100px;
    resize: vertical;
}

.create-container  .row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.create-container  button {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.create-container  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .create-container  .row-2 {
        grid-template-columns: 1fr;
    }

    .create-container {
        padding: 1rem;
        margin: 20px auto;
    }

    .create-containerh1 {
        font-size: 1.5rem;
    }
}
