.tile-grid {
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    align-items: stretch;
    justify-content: center;
}

.tile {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    height: 55%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.tile:hover {
    transform: translateY(-5px);
}

.tile-text {
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
}